.manage_container {
    padding-right: 10px;
}

.container {
    padding-top: 5px;
}

.header-modal-delete {
    color: black;
}

.action {
    margin-bottom: 10px;
    .btn-refresh {
        margin: 0 10px 0 0;
    }
}

.actions {
    padding-right: 10px;
}

.edit,
.delete {
    font-weight: 700;
    transition: 0.4s;
}

.edit {
    margin-right: 25px;
    &:hover {
        color: orange;
    }
}

.delete {
    &:hover {
        color: red;
    }
}
