.login_container {
    padding-top: 80px;
}

.container {
    width: 400px;
    padding: 10px;

    .title {
        font-weight: 900;
    }

    .content_right {
        border: 1px solid;
        border-radius: 10px;
    }
    .content_left {
        font-weight: 800;

        & :hover {
            transition: 1s;
        }
    }
}
// .row {
// }
